langchain==0.0.181
openai==0.27.2
streamlit==1.11.1
streamlit_chat==0.0.2.2
chromadb==0.3.25
youtube-transcript-api==0.6.0
pytube==15.0.0
tiktoken==0.4.0
beautifulsoup4==4.12.2
requests==2.31.0
lxml==4.9.2
wikipedia==1.4.0
pygsheets==2.0.6
google-auth==2.19.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-api-python-client==2.88.0
pandas==2.0.2